.work {
  color: red;
  margin-left: 30%;
}

#education {
  color: blue;
  font-size: 120%;
  margin-left: 30%;
}

.bold {
  font-style: italic;
}

h1 {
  font-size: 40px;
  text-align: center;
  text-decoration: underline blue;
}

#contact {
  text-align: center;
  font-size: 20px;
  font-style: italic;
}

#history {
  margin-left: 900px;
}